<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {{ header | safe }}
    </head>
    <body>
        {{ navbar | safe }}
        <div class="container">
            <div class="text-center">
                <div class="display-3">Balance</div>
            </div>

            <br />

            <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none;">{{ errorMessage }}</div>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="0x" value="{{ address }}">
                            <div class="form-text">Input the address you want to get the balance.</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="tokenId" class="form-label">Token ID</label>
                            <input type="text" class="form-control" id="tokenId" name="tokenId" placeholder="0" value="{{ tokenId }}">
                            <div class="form-text">The token id must be a integer. (e.g. 0, 1, 2, ...)</div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" onclick="clearInputField()">Clear</button>
                <button type="submit" class="btn btn-primary" formmethod="get">Search</button>
            </form>

            <hr />

            <div id="result">
                <h3>Result</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Attribute</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Address</td>
                            <td><a href="https://goerli.etherscan.io/address/{{ address }}" class="text-decoration-none" target="_blank">{{ address }}</a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Token ID</td>
                            <td>{{ tokenId }}</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Balance</td>
                            <td>{{ addressBalance }}</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Contract Address</td>
                            <td><a href="https://goerli.etherscan.io/address/0xf48e4cf9ee471116d82d4d256c3a55aab7819898" class="text-decoration-none" target="_blank">0xf48e4cf9ee471116d82d4d256c3a55aab7819898</a></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Time</td>
                            <td>{{ nowTime }}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>

            <script type="text/javascript">
                var addressBalance = "{{ addressBalance }}", errorMessage = "{{ errorMessage }}";

                if (errorMessage == "") $("#errorMessage").hide();
                else $("errorMessage").show();

                if (addressBalance == "") $("#result").hide();
                else $("#result").show();

                $("input[type='text']").click(function () {
                    $(this).select();
                });

                function clearInputField() {
                    $("#address").val("");
                    $("#tokenId").val("");
                }
            </script>
        </div>
    </body>
</html>